<div class="content-container content-container-shrink" [class.preload]="preload" [class]="fullScreen ? 'content-container-grow' : 'content-container-shrink'">
    <div class="content-header" [id]="fullScreen ? 'inner-content-full': ''">
        <div class="header-title">SBA Spell Checker</div>
        <div class="resize-container">
            <div class="resize-button" (click)="resize()"></div>
        </div>
    </div>
    <div #contentContainerBody autoFocus class="content-body" (input)="setContent()" contenteditable="true" spellcheck="false"></div>
    <div class="content-footer" [id]="fullScreen ? 'inner-content-full': ''">
        <div class="word-count">Word Count:</div>
        <div class="button-container">
            <div class="button-wrap">
                <app-button [buttonType]="'check'" (click)="checkContent()"></app-button>
            </div>
            <div class="button-wrap">
                <app-button [buttonType]="'erase'" (click)="eraseContent()" ></app-button>
            </div>
        </div>
    </div>
</div>

